@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron" style="max-width: 400px; background-color: #000000; box-shadow: none;">
    <h1 class="heading">@ViewBag.Title</h1>
</div>
<h4 style="text-align: center">My development goal is to restore the earth’s essential forests while improving marine life and influencing sustainable and responsible lifestyles. <br /> I used "Restore The Earth" as my NPO due to a common development goal.</h4>
<br />

<div class="jumbotron">
    <h4 style="padding-left: 12px; padding-right: 12px; padding-top: 12px;">Restore The Earth's work directly supports the agenda set by the global community and the United Nations, and they are proud to support targets 11-15 and 17 of the Sustainable Development Goals.</h4>
    <div class="container">
        <div class="row" style="margin-top: 20px; text-align:center">
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal1.png" />
            </div>
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal2.png" />
            </div>
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal3.png" />
            </div>
        </div>

        <div class="row" style="margin-top: 20px; text-align:center">
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal4.png" />
            </div>
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal5.png" />
            </div>
            <div class="col-lg-4" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2017/03/goal6.png" class="narative">
            </div>
        </div>
    </div>
    <h4 style="padding-left: 12px; padding-right: 12px; padding-bottom: 15px;">This web application supports all the above mentioned Sustainable Development Goals through donations, volunteering and petitioning.</h4>
</div>

<br />
<h4 style="text-align: center">I believe that "Restore The World" would want this application because it improves their already existing donation system and enables volunteering help from the public. This web application also makes use of petitions to not only enforce movements or agendas but also to see where the publics environmental and social motives are focussed.</h4>
<br />

<div class="jumbotron">
    <h4 style="padding-left: 12px; padding-right: 12px; padding-top: 12px;">This is how "Restore The Earth" is given funding based on 2018 data.</h4>
    <div class="container">
        <div class="row" style="margin-top: 20px; text-align:center">
            <div class="col-lg-12" style="margin-bottom: 30px">
                <img src="https://restoretheearth.org/wp-content/uploads/2019/05/chart1.png" />
            </div>
        </div>
    </div>
    <h4 style="padding-left: 12px; padding-right: 12px; padding-bottom: 17px;">This data shows the importance of public funding, which is why I have used public donations to address how this NPO will receive funding.</h4>
</div>