
@{
    ViewBag.Title = "Help Us By Volunteering";
}

<div class="jumbotron" style="max-width: 850px; background-color: #000000; box-shadow: none;">
    <h1 class="heading">@ViewBag.Title</h1>
</div>
<br />

<style>
    label {
        font-size: 16px;
    }

    input {
        text-align: center;
        margin-bottom: 5px;
        max-width: 90%;
    }

    label {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row" style="margin-top: -15px; text-align: center">
        <div class="col-lg-12 text-center" style="margin-bottom: 30px; margin-top: 15px; margin-left: 1px;">
            <div class="card" style="margin-bottom: 10px; margin-left: 25%; max-width: 50%; background-color: transparent; backdrop-filter: blur(10px); font-size: 20px; ">
                <div class="card-header" style="background-color: #2270b7">Volunteer</div>
                <div class="card-body" style="text-align: center;">
                    @using (Html.BeginForm("AssistUs", "Home", FormMethod.Post))
                    {
                        <!-- Select voltype -->
                        <div class="form-group">
                            <label for="volType">Select a volunterring position</label>
                            <select class="form-control text-center" id="volType" name="volType">
                                <option value="1">Tree Planter</option>
                                <option value="2">Ocean Cleaner</option>
                                <option value="3">Missionary</option>
                            </select>
                        </div>
                        <!-- Fullname -->
                        <div class="form-group">
                            <label for="fName">Full Name</label><br />
                            <input type="text" id="fName" name="fName">
                        </div>
                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">Email</label><br />
                            <input type="email" id="email" name="email">
                        </div>
                        <!-- Address -->
                        <div class="form-group">
                            <label for="address">Address</label><br />
                            <input type="text" id="adress" name="email">
                        </div>
                        <!-- Fields for tree planter -->
                        <div class="form-group tree">
                            <label for="treeType">Labour Type</label>
                            <select class="form-control text-center" id="treeType" name="treeType">
                                <option value="1">Digging</option>
                                <option value="2">Planting</option>
                                <option value="3">Fertilizing</option>
                            </select>
                        </div>
                        <!-- Fields for missionary -->
                        <div class="form-group miss">
                            <label for="missoption">Option</label>
                            <select class="form-control text-center" id="missoption" name="missoption">
                                <option value="1">Sustainable Cities & Communites</option>
                                <option value="2">Responsible Consumption & Production</option>
                                <option value="3">Climate Awareness</option>
                            </select>
                        </div>
                        <!-- Fields for ocean -->
                        <div class="form-group ocean">
                            <label for="oceanArea">Area</label>
                            <select class="form-control text-center" id="oceanArea" name="oceanArea">
                                <option value="1">Beach</option>
                                <option value="2">Ocean</option>
                                <option value="3">Lagoon</option>
                            </select>
                        </div>

                        <br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Add/Volunteer.js")" asp-append-version="true"></script>
}